
.modal-content {
    background-color: rgb(30, 41, 59);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); 
    padding: 30px; 
    border: 1px solid #374151;
}


.project-form {
    max-width: 900px;
    padding: 5px; 
    padding-top: 20;
}

.form-row-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 0.95rem;
    color: #e5e7eb; 
    margin-bottom: 8px;
    font-weight: 600;
}

.form-input,
.form-textarea,
.form-select { 
    width: 100%;
    padding: 12px 15px;
    background-color: #2d3748; 
    border: 1px solid #4b5563; 
    border-radius: 8px; 
    font-size: 1rem;
    color: #e5e7eb; 
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    

    appearance: none; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23e5e7eb"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 15px;
    padding-right: 40px;
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: #9ca3af;
}

.form-input:focus,
.form-textarea:focus,
.form-select:focus {
    border-color: #6366f1;
    outline: none;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.4); 
    background-color: #2d3748; 
}

.form-textarea {
    resize: vertical; 
    min-height: 100px;
}

.form-actions {
    display: flex;
    justify-content: flex-start; 
    padding-top: 15px;

    margin-top: 15px;
    max-width: 150%;
}


.custom-scrollbar {
  scrollbar-width: thin;                
  scrollbar-color: #3784c2 #f3f4f6;   
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #c084fc, #a78bfa);
  border-radius: 10px;
  border: 2px solid #f3f4f6;
  transition: background 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #a855f7, #9333ea);
}
